<div *ngIf="auth.isAuthenticated()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="alert text-center">
                    <h1>
                        <i class="fa fa-user fa-fw colored" aria-hidden="true"></i> {{ name }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div>
                    <img class="img-fluid img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="User pic">
                </div>
                <div class="text-center">
                    <div class="alert">
                        <h3>
                            {{ firstname }} {{ secondname }}
                        </h3>
                    </div>
                </div>
                <hr>
                <div class="text-center alert">
                    <h3>
                        <i class="fa fa-phone fa-fw colored" aria-hidden="true"></i> {{ phone }}
                    </h3>
                    <small class="text text-secondary">{{ 'Profile.Phone' | translate }}</small>
                    <h3>
                        <i class="fa fa-envelope fa-fw colored" aria-hidden="true"></i> {{ email }}
                    </h3>
                    <small class="text text-secondary">{{ 'Profile.Email' | translate }}</small>
                    <h3>
                        <i class="fa fa-calendar fa-fw colored" aria-hidden="true"></i> {{ date }}
                    </h3>
                    <small class="text text-secondary">{{ 'Profile.Registration' | translate }}</small>
                </div>
            </div>
            <div class="col-md-8 rounded jumbotron">
                <div class="d-flex justify-content-around">
                    <div class="alert text-center">
                        <h2>{{ 'Profile.Statistics' | translate }}</h2>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="alert text-center">
                        <div>
                            <i class="fa fa-usd fa-fw colored fa-5x" aria-hidden="true"></i>
                        </div>
                        <h3>{{ tipped }}</h3>
                        <small class="text text-secondary">{{ 'Profile.Donated' | translate }}</small>
                    </div>
                    <div class="alert text-center">
                        <div>
                            <a href="/user/{{ name }}/achievements">
                                <i class="fa fa-star fa-fw colored fa-5x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h3>0</h3>
                        <small class="text text-secondary">{{ 'Profile.Achievements' | translate }}</small>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="alert text-center">
                        <h2>{{ 'Profile.Projects' | translate }}</h2>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="alert text-center">
                        <div>
                            <a href="/user/{{ name }}/created">
                                <i class="fa fa-link fa-fw colored fa-5x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <small class="text text-secondary">{{ 'Profile.Created' | translate }}</small>
                    </div>
                    <div class="alert text-center">
                        <div>
                            <a href="/user/{{ name }}/rated">
                                <i class="fa fa-thumbs-up fa-fw colored fa-5x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <small class="text text-secondary">{{ 'Profile.Rated' | translate }}</small>
                    </div>
                    <div class="alert text-center">
                        <div>
                            <a href="/user/{{ name }}/followed">
                                <i class="fa fa-plus fa-fw colored fa-5x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <small class="text text-secondary">{{ 'Profile.Followed' | translate }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!auth.isAuthenticated()">
    <app-notfound></app-notfound>
</div>