<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="alert text-center">
                <h2>{{ 'About.Headers.Main' | translate }}</h2>
                <h4 class="text text-secondary">{{ 'About.Tags.Main' | translate }}</h4>
            </div>
        </div>
        <div class="col-md-8 rounded jumbotron">
            <div class="d-flex flex-column justify-content-center">
                <div class="text-left">
                    <div class="d-flex flex-column text-guide">
                        <h2 class="text-center">{{ 'About.Headers.Creators' | translate }}</h2>
                        <p>{{ 'About.Text.Creators' | translate }}</p>
                        <h2 class="text-center">{{ 'About.Headers.Technologies' | translate }}</h2>
                        <p>{{ 'About.Text.Technologies' | translate }}</p>
                        <h2 class="text-center">{{ 'About.Headers.EasterEgg' | translate }}</h2>
                        <p>{{ 'About.Text.EasterEgg' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <hr>
            <div>
                <img class="img-fluid img-rounded" src="https://psv4.userapi.com/c810637/u139944139/docs/2f00ea003ab4/IGM.gif?extra=HBFQkBQ_mBwchVgEQKUtb3bqDGZNidmq5L8ncfIXLhAr7wI54Z8Vje-dYwL-XYf2JiKwlIn0f6BARtzoIPDwMPTXlTxHeNJ-qMW9Sw0bcOy6WoQ3aeX0BPpW" alt="Thinkaboutit">
            </div>
            <hr>
        </div>

    </div>
</div>