h2 {
    margin-bottom: 40px;
}

.jumbotron .btn {
    color: white;
}

.img-preview-container {
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-preview {
    max-height: 256px;
    width: auto;
}

.title {
    display: block;
    display: -webkit-box;
    height: 3.5em;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    display: block;
    display: -webkit-box;
    height: 4em;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.bgimg-1,
.bgimg-2 {
    position: relative;
    opacity: 0.6;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("https://www.joshmorony.com/wp-content/uploads/2016/04/mountains-back.png");
    min-height: 600px;
}

.bgimg-2 {
    background-image: url("https://www.joshmorony.com/wp-content/uploads/2016/04/mountains-back.png");
    min-height: 190px;
    margin: 0 0 20px 0;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}
  
.caption span.border, .caption a {
    padding: 18px;
    background-color:transparent;
    font-size: 30px;
    color: #f7f7f7;
    text-shadow: 2px 2px 8px #000000;
    /*letter-spacing: 10px;*/
}

h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px 8px #000000;
    font-size: 45px;
}
  
h3 {
    /*letter-spacing: 5px;*/
    text-transform: uppercase;
    /*font: 20px "Lato", sans-serif;*/
    color: #ddd;
}

hr.styled {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(24, 188, 155, 0), rgba(24, 188, 155, 0.75), rgba(24, 188, 155, 0));
}
