h2 {
    margin-bottom: 40px;
}

.jumbotron .btn {
    color: white;
}

.img-preview-container {
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-preview {
    max-height: 256px;
    width: auto;
}

.description {
    display: block;
    display: -webkit-box;
    height: 3em;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}