<div class="jumbotron">
  <h1>Crowdfunding Platform</h1>
    <blockquote>
        <p>Our project does more than raise money.
            It builds community around your work.</p>
        <small>Someone famous in <cite title="Source Title">Our Awesome CO-OP Team</cite></small>
    </blockquote>
  <p><a class="btn btn-primary btn-lg">Join Us</a></p>
</div>
<div class="row">
    <h2 class="text-center">Minimal Preview Thumbnails </h2>
</div>
<div>
    <app-preview></app-preview>
    <app-preview></app-preview>
    <app-preview></app-preview>
    <app-preview></app-preview>
    <app-preview></app-preview>
    <app-preview></app-preview>
    <app-preview></app-preview>
    <app-preview></app-preview>
</div>
