<div class="jumbotron">
    <h1>Crowdfunding Platform</h1>
    <blockquote>
        <p>Our project does more than raise money. It builds community around your work.</p>
        <small>Someone famous in <cite title="Source Title">Our Awesome CO-OP Team</cite></small>
    </blockquote>
    <div class="row"><a class="btn btn-primary btn-lg">Join Us</a></div>
</div>
<div class="row">
    <h2 class="text-center">Projects</h2>
</div>
<div *ngFor="let project of projects">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail card">
            <div class="img-preview-container">
                <a href="/project/{{ project.pageId }}"><img class="img-fluid img-preview" src="{{ project.image }}" alt="Project image"></a>
            </div>
            <div class="text-container ">
                <a href="/project/{{ project.pageId }}">
                    <h4 class="title">
                        {{ project.title }}
                    </h4>
                </a>
                <p class="text text-secondary text-left description">
                    {{ project.description }}
                </p>
            </div>
            <hr>
            <div class="text-container">
                <p class="text text-success">Goal: {{ project.goal }}$</p>
                <p class="text text-info">Current: 0$</p>
                <p class="text text-warning">Started: {{ project.creation }}</p>
                <p class="text text-warning">Deadline: {{ project.date }}</p>
            </div>
            <hr>
            <div class="text-container text-right d-flex justify-content-around">
                <div>
                    <i class="fa fa-user fa-fw colored" aria-hidden="true"></i>
                    <a href="/user/{{ project.author }}">{{ project.author }}</a>
                </div>
                <small class=" text text-secondary ">tagged as: {{ project.tags }}</small>
            </div>
            <hr>
        </div>
    </div>
</div>
<div>
    <!--<app-donation></app-donation>-->
</div>