<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7 text-center">
                <div class="alert text-center">
                    <h2>{{ project.title }}</h2>
                </div>
            </div>
            <div class="col-md-7 text-center">
                <div><img class="img-fluid img-rounded" src="{{ project.image }}" alt="Project image"></div>
                <hr>
                <div class="alert">
                    <small>{{ project.description }}</small>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-column justify-content-center">
                    <div class="text-center">
                        <h1>{{ project.goal }} $</h1>
                        <small>Goal</small>
                    </div>
                    <div class="alert text-center">
                        <h3>{{ project.date }}</h3>
                        <small>Deadline</small>
                    </div>
                    <div class="alert text-center">
                        <button type="button" class="btn btn-success btn-lg">Support</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 jumbotron">
        <div class="alert text-center">
            <h2>About</h2>
        </div>
        <div class="d-flex justify-content-center">
            <markdown [data]="project.body"></markdown>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 jumbotron">
        <div class="alert text-center">
            <h2>Comments</h2>
        </div>
    </div>
</div>