.goal-progress-container {
    height: 24px;
    background-color: rgba(32, 32, 32, 0.3);
}

.goal-progress {
    min-width: 2em;
}

.btn-group a {
    text-decoration: none;
    color: white;
}

.img-preview-container {
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-preview {
    max-height: 256px;
    width: auto;
}

.modal-lower {
    padding-top: 200px;
}

.title {
    display: block;
    display: -webkit-box;
    height: 3.5em;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    display: block;
    display: -webkit-box;
    height: 4em;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}