<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <form class="form-horizontal col-6">
            <fieldset>
              <h2>Some additional information about yourself</h2>
              <hr>
              <div class="form-group well">
                  <label for="inputTitle" class="control-label"><h3>Country</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <label for="inputTitle" class="control-label"><h3>Sity</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <label for="inputTitle" class="control-label"><h3>Home</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <hr>
              </div>
              <div class="form-group well">
                  <label for="inputTitle" class="control-label"><h3>Skype</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <label for="inputTitle" class="control-label"><h3>Facebook</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <label for="inputTitle" class="control-label"><h3>VKontakte</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <label for="inputTitle" class="control-label"><h3>Twitter</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <label for="inputTitle" class="control-label"><h3>Instagram</h3></label>
                  <input #titleInput class="form-control" placeholder="Title" >
                  <hr>
              </div>
              <div class="form-group well">
                  <label for="education" class="control-label"><h3>Education place</h3></label>
                  <input #education class="form-control" placeholder="Education">
                  <label for="work" class="control-label"><h3>Work place</h3></label>
                  <input #work class="form-control" placeholder="Work" >
                  <hr>
              </div>
              <div class="form-group well">
                  <label for="textArea" class="control-label"><h3>Your interests &amp; hobbies</h3></label>
                  <textarea #textArea class="form-control" rows="3" placeholder="Rock-n-roll starts here"></textarea>
                  <small>Tell us about yourself, about your goals and gifts.</small>
                  <hr>
              </div>
              <div class="form-group well">
                  <label for="inputTitle" class="control-label"><h3>Passport's scan</h3></label>
                  <img id="img-preview" class="img-fluid img-rounded" src="http://imperva.typepad.com/.a/6a01156f8c7ad8970c0167683052d1970b-pi" />
                  <label for="file-upload" class="control-label">
                          <a class="btn btn-default">Load image</a>
                          <!-- Some hell is going on here -->
                          <!-- #imagePreview (input)="body = $event.target.value" (keyup.enter)="getFromInput(imagePreview.value, this.body)" (blur)="imagePreview(textArea.value, this.body)" -->
                          <input (change)="uploadFile($event)" id="file-upload" type="file" name="file" class="form-control" style="display:none;">
                      </label>
                  <hr>
              </div>
              <div class="alert text-center">
                  <button (click)="submit()" type="button" class="btn btn-success" data-dismiss="modal">Send to admin</button>
              </div>
            </fieldset>
        </form>
    </div>
</div>
