<div class="col-sm-4 col-md-3">
    <div class="thumbnail">
        <a href=""><img class="img-fluid" src="https://pp.userapi.com/c638519/v638519740/51df6/d4OVAQeW1PU.jpg" alt="Project image"></a>
        <div class="container">
            <a href="">
                <h4>
                    Project title
                </h4>
            </a>
            <p class="text text-secondary">
                Part of project description...
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="container">
            <p class="text text-success">Goal: </p>
            <p class="text">Current: </p>
        </div>
        <hr>
        <div class="container">
            <small class="text text-secondary">tagged as: </small>
        </div>
        <hr>
    </div>
</div>