<footer>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <div class="alert">
            <a href="#"><img src="https://s8.hostingkartinok.com/uploads/images/2017/09/f61e5552af325c19df4d3bf71f94c7a1.png" width="128" height="128"></a>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="alert"><a href="#">About</a></div>
        <div class="alert"><a href="#">Contact us</a></div>
        <div class="alert"><a href="#">Reviews</a></div>
        <div class="alert"><a href="#">Terms of service</a></div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="alert"><a href="https://www.facebook.com"><i class="fa fa-facebook fa-3x"></i></a></div>
        <div class="alert"><a href="https://twitter.com"><i class="fa fa-twitter fa-3x"></i></a></div>
        <div class="alert"><a href="https://vk.com"><i class="fa fa-vk fa-3x"></i></a></div>
    </div>
</footer>