<div class="modal-sm modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Welcome!</h2>
        </div>
        <div class="modal-body">
            <div *ngIf="!this.checkFields(this.email, this.name)" class="alert alert-info text text-center">
                <small>
                    Please, fill in all fields
                </small>
            </div>
            <form>
                <div class="form-group">
                    <label>E-mail</label>
                    <input (keyup)="saveEmail($event)" class="form-control">
                    <div *ngIf="!this.isEmailValid()" class="alert-warning text text-center rounded">
                        <small>
                            Enter valid e-mail address
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input (keyup)="savePassword($event)" type="password" class="form-control">
                    <div *ngIf="!this.checkPasswordLength()" class="alert-warning text text-center rounded">
                        <small>
                            Must be at least 8 symbols
                        </small>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="submit()" type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!this.checkFirstPage()">Log in</button>
        </div>
    </div>
</div>