<div class="modal-sm modal-dialog">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h2>{{ 'Login.Header' | translate }}</h2>
        </div>
        <div class="modal-body">
            <div *ngIf="!this.checkFields(this.email, this.name)" class="alert alert-info text text-center">
                <small>
                    {{ 'Login.Alerts.Fill' | translate }}
                </small>
            </div>
            <form>
                <div class="form-group">
                    <label>{{ 'Login.Captions.Email' | translate }}</label>
                    <input (keyup)="saveEmail($event)" class="form-control">
                    <div *ngIf="!this.isEmailValid()" class="alert-warning text text-center rounded">
                        <small>
                            {{ 'Login.Alerts.Email' | translate }}
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ 'Login.Captions.Password' | translate }}</label>
                    <input (keyup)="savePassword($event)" type="password" class="form-control">
                    <div *ngIf="!this.checkPasswordLength()" class="alert-warning text text-center rounded">
                        <small>
                            {{ 'Login.Alerts.Password' | translate }}
                        </small>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Login.Close' | translate }}</button>
            <button (click)="submit()" type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!this.checkFirstPage()">{{ 'Login.Login' | translate }}</button>
        </div>
    </div>
</div>