<div class="d-flex justify-content-center">
    <div class="well">
        <div class="container" style="width: 50rem;">
            <div class="alert alert-warning">
                <div>
                    <div class="text-center"><i class="fa fa-5x fa-frown-o fa-spin" style="color:#d9534f;"></i></div>
                    <h1 class="text-center display-1">
                        404
                    </h1>
                    <h1 class="text-center display-2">
                        404
                    </h1>
                    <h1 class="text-center display-3">
                        404
                    </h1>
                </div>
                <div>
                    <p class="text-center"><a class="btn btn-outline-success btn-lg" href="">{{ '404.Button' | translate }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>