<div class="container">
    <div class="d-flex justify-content-center">
        <div class="well">
            <div class="container" style="width: 50rem;">
                <div class="thumbnail card">
                    <div class="alert">
                        <h1 class="text-center display-1 ">
                            404
                        </h1>
                        <div class="text-center">
                            <h1 class="alert"><i class=" fa fa-5x fa-frown-o fa-spin " style="color:#d9534f; "></i></h1>
                        </div>
                    </div>
                    <div>
                        <p class="text-center "><a class="btn btn-success btn-lg " href=" ">{{ '404.Button' | translate }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>