<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a (click)="onChange()" class="btn btn-active">
                    <i class="fa {{ icon }} fa-lg fa-fw colored"></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/user" *ngIf="auth.isAuthenticated()">Profile</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="" data-toggle="modal" data-target="#register" *ngIf="!auth.isAuthenticated()">Register</a></li>
            <li class="nav-item"><a href="" data-toggle="modal" data-target="#login" *ngIf="!auth.isAuthenticated()">Log in</a></li>
            <li class="nav-item"><a href="" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Log out</a></li>
        </ul>
    </div>
</nav>

<div class="modal fade modal-lower" id="register" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-registration></app-registration>
</div>

<div class="modal fade modal-lower" id="login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-login></app-login>
</div>