.modal-lower {
    padding-top: 160px;
}

.colored {
    color: #18BC9C;
}

.dropdown-menu {
    max-width: 20px !important;
}

.dropdown-menu li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}