<div class="container"P *ngIf="auth.isAuthenticated() && (auth.getPermissionType() === 'admin')">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <div class="row">
                <div class="col-md-4">
                    <input *ngIf="config.filtering" placeholder="Filter all columns"
                            [ngTableFiltering]="config.filtering"
                            class="form-control"
                            (tableChanged)="onChangeTable(config)"/>
                </div>
                <div class="col-md-8">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#user-checking"><i class="fa fa-check" aria-hidden="true"></i> Confirm</a>
                        <a class="btn btn-default btn-block" (click)="blockUsers()"><i class="fa fa-lock" aria-hidden="true"></i> Block</a>
                        <a class="btn btn-default btn-block" (click)="unblockUsers()"><i class="fa fa-unlock" aria-hidden="true"></i> Unblock</a>
                        <a class="btn btn-default btn-block" (click)="deleteUsers()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                    </div>
                </div>
            </div>
            <br>
            <ng-table id="resultDataTable"
                    [config]="config"
                    (tableChanged)="onChangeTable(config)"
                    (cellClicked)="onCellClick($event)"
                    [rows]="rows" [columns]="columns">
            </ng-table>
        </div>
    </div>
</div>

<div class="modal fade modal-lower" id="user-checking" tabindex="-1" role="dialog" aria-hidden="true">
    <app-check-by-admin [person]="selectedUser" [image]="userImage" (confirmUser)="confirmUser(selectedUser)"></app-check-by-admin>
</div>