<div class="container">
    <div class="jumbotron" *ngIf="auth.isAuthenticated()">
        <div class="container">
            <div class="d-flex justify-content-center">
                <h3 class="display-1">
                    {{ 'News.Headers.Create' | translate }}
                </h3>
            </div>
            <div class=" d-flex justify-content-center">
                <p>{{ 'News.Headers.CreateTag' | translate }}</p>
            </div>
            <div class=" d-flex justify-content-center">
                <img src="https://s8.hostingkartinok.com/uploads/images/2017/09/f61e5552af325c19df4d3bf71f94c7a1.png" width="128" height="128">
            </div>

            <div class="d-flex justify-content-end">
                <a class="btn btn-info" href="/guide">{{ 'News.Buttons.Guide' | translate }}</a>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="auth.isAuthenticated()">
        <div class="row">
            <div class="col-1"></div>
            <form class="form-horizontal col-5">
                <fieldset>
                    <div class="form-group">
                        <label for="inputTitle" class="control-label"><h3>{{ 'News.Creation.Title' | translate }}</h3></label>
                        <input #titleInput class="form-control" placeholder="{{ 'News.Creation.Placeholders.Title' | translate }}" (input)="projectName = $event.target.value" (keyup.enter)="getFromInput(titleInput.value, this.projectName)" (blur)="getFromInput(titleInput.value, this.projectName)">
                        <small>{{ 'News.Creation.TitleTag' | translate }}</small>
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="inputTitle" class="control-label"><h3>{{ 'News.Creation.Description' | translate }}</h3></label>
                        <input #inputDescription type="text" class="form-control" placeholder="{{ 'News.Creation.Placeholders.Description' | translate }}" (input)="description = $event.target.value" (keyup.enter)="getFromInput(inputDescription.value, this.description)" (blur)="getFromInput(inputDescription.value, this.description)">
                        <small>{{ 'News.Creation.DescriptionTag' | translate }}</small>
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="control-label"><h3>{{ 'News.Creation.Body' | translate }}</h3></label>
                        <textarea #textArea class="form-control" rows="5" placeholder="{{ 'News.Creation.Placeholders.Body' | translate }}" (input)="body = $event.target.value" (keyup.enter)="getFromInput(textArea.value, this.body)" (blur)="getFromInput(textArea.value, this.body)"></textarea>
                        <small>{{ 'News.Creation.BodyTag' | translate }}</small>
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="inputTitle" class="control-label"><h3>{{ 'News.Creation.Image' | translate }}</h3></label>
                        <img id="img-preview" class="img-fluid img-rounded" src="{{ image }}" />
                        <label for="file-upload" class="control-label">
                            <a class="btn btn-default">{{ 'News.Buttons.Image' | translate }}</a>
                            <!-- Some hell is going on here -->
                            <!-- #imagePreview (input)="body = $event.target.value" (keyup.enter)="getFromInput(imagePreview.value, this.body)" (blur)="imagePreview(textArea.value, this.body)" -->
                            <input (change)="uploadFile($event)" id="file-upload" type="file" name="file" class="form-control" style="display:none;">
                        </label>
                        <hr>
                    </div>
                    <div class="form-group" id="tag-input">
                        <label for="inputTitle" class="control-label"><h3>{{ 'News.Creation.Tag' | translate }}</h3></label>
                        <input #inputTag type="text" class="form-control" (input)="tags = $event.target.value" (keyup.enter)="getFromInput(inputTag.value, this.tags)" (blur)="getFromInput(inputTag.value, this.tags)">
                    </div>
                    <div class="alert text-center">
                        <button data-toggle="modal" data-target="#text-preview" type="button" class="btn btn-primary">{{ 'News.Buttons.Preview' | translate }}</button>
                        <button (click)="submit()" type="button" class="btn btn-success" data-dismiss="modal">{{ 'News.Buttons.Submit' | translate }}</button>
                    </div>
                </fieldset>
            </form>
            <div class="container col-3">
                <h3>
                    {{ 'News.Headers.SmallPreview' | translate }}
                </h3>
                <div class="thumbnail card">
                    <div class="img-preview-container text-center">
                        <a href=""><img class="img-fluid img-preview" src="{{ image }}" alt="{{ 'News.Creation.Image' | translate }}" alt="{{ 'News.Preview.Image' | translate }}"></a>
                    </div>
                    <div class="text-container">
                        <a href="">
                            <h4 class="title">
                                {{ projectName }}
                            </h4>
                        </a>
                        <p class="text text-secondary text-left description">
                            {{ description }}
                        </p>
                    </div>
                    <hr>
                    <div class="text-container">
                        <p class="text text-warning">{{ creation }}</p>
                    </div>
                    <hr>
                    <div class="text-container text-right d-flex justify-content-around">
                        <div>
                            <i class="fa fa-user fa-fw colored" aria-hidden="true"></i>
                            <a href="/user/{{ author }}">{{ author }}</a>
                        </div>
                        <small class="text text-secondary">{{ 'News.Preview.Tag' | translate }}: {{ tags }}</small>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron" *ngIf="!auth.isAuthenticated()">
        <div class="alert text-center">
            <p>{{ 'News.Creation.Alert.Prefix' | translate }}, <a href="" data-toggle="modal" data-target="#login">{{ 'News.Creation.Alert.Login' | translate }}</a> {{ 'News.Creation.Alert.Or' | translate }} <a href="" data-toggle="modal" data-target="#register">{{ 'News.Creation.Alert.Register' | translate }}</a>.</p>
        </div>
    </div>

    <div class="modal fade modal-lower" id="text-preview" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>{{ 'News.Headers.MarkdownPreview' | translate }}</h2>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <h1>{{ projectName }}</h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="alert"><small>{{ description }}</small></div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <markdown [data]="body"></markdown>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'News.Buttons.Close' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>