<div class="jumbotron">
    <div class="container">
        <div class=" d-flex justify-content-center">
            <h3 class="display-1">
                Create new project with CO-OP
            </h3>
        </div>
        <div class=" d-flex justify-content-center">
            <p>Cooperate to develop your ideas</p>
        </div>
        <div class=" d-flex justify-content-center">
            <img src="https://s8.hostingkartinok.com/uploads/images/2017/09/f61e5552af325c19df4d3bf71f94c7a1.png" width="128" height="128">
        </div>


        <div class=" d-flex justify-content-end">
            <button type="button" class="btn btn-info">Read guide</button>
        </div>
    </div>
</div>

<div class="container" *ngIf=" auth.isAuthenticated()">
    <div class="row">
        <div class="col-lg-1"></div>
        <form class="form-horizontal col-6 row">
            <fieldset>
                <div class="form-group">
                    <label for="inputTitle" class="control-label"><h3>Project name</h3></label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                    <small>Make sure that your project has memorable title. People like it!</small>
                    <hr>
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="control-label"><h3>Tag</h3></label>
                    <input type="text" class="form-control" id="inputTag" placeholder="Enter tag for project">
                    <small>Tags are used for easy search.</small>
                    <hr>
                </div>
                <div class="form-group">
                    <label for="textArea" class="control-label"><h3>Description</h3></label>
                    <textarea [value]="username" (input)="username = $event.target.value" class="form-control" rows="3" id="textArea" placeholder="Describe your project"></textarea>
                    <small>Try to briefly describe the purpose of the project.</small>
                    <hr>
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="control-label"><h3>Cover of the project</h3></label>
                    <img class="img-fluid img-rounded" src="https://pp.userapi.com/c639726/v639726376/1b0e8/-rCpYgJ08pM.jpg" />
                    <label for="file-upload" class="control-label">
                        <a class="btn btn-default">Choose image</a>
                        <input (click)="fileUploading($event)" id="file-upload" type="file" class="form-control" style="display:none;">
                    </label>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="amount" class="col-lg-2 control-label"><h3>Amount</h3></label>
                            <input type="number" class="form-control" id="amount" name="amount">
                            <small>How much money do you want to collect</small>
                        </div>
                        <div class="col-6">
                            <label for="inputDate" class="col-lg-2 control-label"><h3>To</h3></label>
                            <input type="date" class="form-control" id="inputDate">
                            <small>Project's deadline</small>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="alert text-center">
                    <button data-toggle="modal" data-target="#text-preview" type="button" class="btn btn-primary">Preview</button>
                    <button (click)="submit()" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                </div>
            </fieldset>
        </form>
        <div class="container col-lg-4">
            <h3>Small preview</h3>
            <div class="thumbnail">
                <h4>
                    Post Thumbnail List
                    <span class="label label-info info">
                    <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                    <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                    <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="https://pp.userapi.com/c638519/v638519740/51df6/d4OVAQeW1PU.jpg" alt="...">
                <a href="" class="btn btn-primary col-xs-12" role="button">View Snippet</a>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>


<div class="jumbotron" *ngIf="!auth.isAuthenticated()">
    <div class="alert">
        <p>Creation is available only for authenticated users. Please, <a href="" data-toggle="modal" data-target="#login">sign in</a> or <a href="" data-toggle="modal" data-target="#register">register</a>.</p>
    </div>
</div>

<div class="modal fade modal-lower" id="text-preview" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Project preview</h2>
            </div>
            <div class="modal-body">
                <markdown [data]="username">

                </markdown>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>