.modal-lower {
    padding-top: 200px;
}

input,
textarea {
    background-color: #eeeeee;
}

description {
    width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
}

.selected {
    border: solid #4CAF50 1px;
    float: left;
    margin: 2px;
    padding: 2px 15px;
}

.selected a {
    cursor: pointer;
    font-weight: bold;
}

.img-responsive {
    display: block;
    max-width: 100%;
    max-height: 512px;
}