<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="alert text-center">
                <h2>{{ 'Guide.Headers.Main' | translate }}</h2>
                <h4 class="text text-secondary">{{ 'Guide.Tags.Main' | translate }}</h4>
            </div>
        </div>
        <div class="col-md-8 rounded jumbotron">
            <div class="d-flex flex-column justify-content-center">
                <div class="text-left">
                    <div class="d-flex flex-column text-guide">
                        <p class="text-secondary">{{ 'Guide.Tags.Welcome' | translate }}</p>
                        <h2 class="text-center">{{ 'Guide.Headers.Projects' | translate }}</h2>
                        <h3>{{ 'Guide.Headers.About' | translate }}</h3>
                        <p>{{ 'Guide.Text.Projects.Abstract' | translate }}</p>
                        <p>{{ 'Guide.Text.Projects.ListOne.Intro' | translate }}</p>
                        <ul>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListOne.ItemOne' | translate }}</p>
                            </li>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListOne.ItemTwo' | translate }}</p>
                            </li>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListOne.ItemThree' | translate }}</p>
                            </li>
                        </ul>
                        <h3>{{ 'Guide.Headers.Tell' | translate }}</h3>
                        <p>{{ 'Guide.Text.Projects.Answer' | translate }}</p>
                        <ul>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListTwo.ItemOne' | translate }}</p>
                                <p class="text-secondary">{{ 'Guide.Text.Projects.ListTwo.TagOne' | translate }}</p>
                            </li>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListTwo.ItemTwo' | translate }}</p>
                                <p class="text-secondary">{{ 'Guide.Text.Projects.ListTwo.TagTwo' | translate }}</p>
                            </li>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListTwo.ItemThree' | translate }}</p>
                                <p class="text-secondary">{{ 'Guide.Text.Projects.ListTwo.TagThree' | translate }}</p>
                            </li>
                            <li>
                                <p>{{ 'Guide.Text.Projects.ListTwo.ItemFour' | translate }}</p>
                                <p class="text-secondary">{{ 'Guide.Text.Projects.ListTwo.TagFour' | translate }}</p>
                            </li>
                        </ul>
                        <h2 class="text-center">{{ 'Guide.Headers.News' | translate }}</h2>
                        <h3>{{ 'Guide.Headers.General' | translate }}</h3>
                        <p>{{ 'Guide.Text.News.TextOne' | translate }}</p>
                        <p>{{ 'Guide.Text.News.TextTwo' | translate }}</p>
                        <p>{{ 'Guide.Text.News.TextThree' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <hr>
            <div>
                <img class="img-fluid img-rounded" src="http://localhost:4200/assets/images/lightbulb.png" alt="Lightbulb">
            </div>
            <hr>
        </div>

    </div>
</div>